extends layout
block content
    .container.fill
        .row.description
            .col-xs-12.words
                span.emphasis-waqua="Waqua"
                span=" aggregates data about your drinkiing water from a variety of sources, giving you up to date inforation on recent and ongoing incidents. Our goal is to educate the public, to raise awareness about water quality issues in the U.S., and to pave the way for truly universal clean water."

        .row.middle-content
            .col-xs-6.words.resources
                p="Our Sources"
                .row.resource
                    .col-xs-6
                        a(href="")
                            .p="EPA"
                            img(src="/img/about/epa.png",width="100px", height="100px")
                    .col-xs-6
                        a(href="")
                            p="National Geographic"
                            img(src="/img/about/natgeo.png",width="100px", height="100px")

            .col-xs-6.state-image.text-center
                img(src="", height="200px", width="100px")

    .container.fill
        .row.our-team
            .col-xs-12
                p="Our Team"
        .row
            .col-sm-2.col-xs-6.member-card
                .row.member-image
                    .col-xs-12
                        img(url="", height='100px', width='100px')
                .row.member-description
                    .col-xs-12
                        p="Hey I'm Markus"
            .col-sm-2.col-xs-6.member-card
                .row.member-image
                    .col-xs-12
                        img(url="", height='100px', width='100px')
                .row.member-description
                    .col-xs-12
                        p="Hey I'm Mehdi"
            .col-sm-2.col-xs-6.member-card
                .row.member-image
                    .col-xs-12
                        img(url="", height='100px', width='100px')
                .row.member-description
                    .col-xs-12
                        p="Hey I'm Noe"
            .col-sm-2.col-xs-6.member-card
                .row.member-image
                    .col-xs-12
                        img(url="", height='100px', width='100px')
                .row.member-description
                    .col-xs-12
                        p="Hey I'm Shuyang"
            .col-sm-2.col-xs-6.member-card
                .row.member-image
                    .col-xs-12
                        img(url="", height='100px', width='100px')
                .row.member-description
                    .col-xs-12
                        p="Hey I'm Travis"
            .col-sm-2.col-xs-6.member-card
                .row.member-image
                    .col-xs-12
                        img(url="", height='100px', width='100px')
                .row.member-description
                    .col-xs-12
                        p="Hey I'm Vinit"
