extends layout
block content
    .container.fill
        .row.description
            .col-xs-12
                p="Waqua is..."
        .row.middle-content
            .col-xs-4.resources
                p="Resources"
                ul
                    li.resource="EPA"
                    li.resource="SDWIS"
                    li.resource="etc"

            .col-xs-offset-2.col-xs-6.state-image
                img(url="", height="100px", width="100px")

    .container.fill
        .row.our-team
            .col-xs-12
                p="Our Team"
        .row
            .col-sm-2.col-xs-6.member-card
                .row.member-image
                    .col-xs-12
                        img(url="", height='100px', width='100px')
                .row.member-description
                    .col-xs-12
                        p="Hey I'm Markus"
            .col-sm-2.col-xs-6.member-card
                .row.member-image
                    .col-xs-12
                        img(url="", height='100px', width='100px')
                .row.member-description
                    .col-xs-12
                        p="Hey I'm Mehdi"
            .col-sm-2.col-xs-6.member-card
                .row.member-image
                    .col-xs-12
                        img(url="", height='100px', width='100px')
                .row.member-description
                    .col-xs-12
                        p="Hey I'm Noe"
            .col-sm-2.col-xs-6.member-card
                .row.member-image
                    .col-xs-12
                        img(url="", height='100px', width='100px')
                .row.member-description
                    .col-xs-12
                        p="Hey I'm Shuyang"
            .col-sm-2.col-xs-6.member-card
                .row.member-image
                    .col-xs-12
                        img(url="", height='100px', width='100px')
                .row.member-description
                    .col-xs-12
                        p="Hey I'm Travis"
            .col-sm-2.col-xs-6.member-card
                .row.member-image
                    .col-xs-12
                        img(url="", height='100px', width='100px')
                .row.member-description
                    .col-xs-12
                        p="Hey I'm Vinit"
