extends layout
block content
    .container.fill
        .row.description
            .col-xs-12.words
                span.emphasis-waqua="Waqua"
                span=" aggregates data about your drinkiing water from a variety of sources, giving you up to date inforation on recent and ongoing incidents. Our goal is to educate the public, to raise awareness about water quality issues in the U.S., and to pave the way for truly universal clean water."

        .row.middle-content
            .col-xs-6.words
                p.large-text="Our Sources"
                .row.resource
                    .col-xs-6
                        a(target="_blank",href="http://www.epa.gov/enviro/facts/sdwis/search.html")
                            p="EPA"
                            img(src="/img/about/epa.png",width="100px", height="100px")
                    .col-xs-6
                        a(target="_blank",href="http://news.nationalgeographic.com/news/2014/02/140217-drinking-water-safety-west-virginia-chemical-spill-science/")
                            p="National Geographic"
                            img(src="/img/about/natgeo.png",width="100px", height="100px")

            .col-xs-6.state-image.text-center
                img.tall(src="/img/about/illinois_sil.png", height="200px", width="100px")

    .container.fill
        .row.our-team
            .col-xs-12
                p.large-text="Our Team"
                p.words="We're a multidisciplinary group of students at the University of Illinois at Urbana Champaign. We've pooled our collective talents into WAQUA with the goal of bringing awareness to the US about water quality."

        .row
            .col-sm-2.col-xs-6.member-card
                .row.member-image
                    .col-xs-12
                        img(src="", height='100px', width='100px')
                .row.member-description
                    .col-xs-12
                        p Mehdi Boukhalfa
                            br
                            |Senior 
                            br 
                            |Advertising
            .col-sm-2.col-xs-6.member-card
                .row.member-image
                    .col-xs-12
                        img(src="", height='100px', width='100px')
                .row.member-description
                    .col-xs-12
                        p Markus Ahlgren
                            br
                            |Graduate
                            br
                            |Mechanical Eng.
            .col-sm-2.col-xs-6.member-card
                .row.member-image
                    .col-xs-12
                        img(src="/img/about/Noe.jpg", height='100px', width='100px')
                .row.member-description
                    .col-xs-12
                        p Noe Munoz
                            br
                            |Sophomore
                            br
                            |Civil Eng.
            .col-sm-2.col-xs-6.member-card
                .row.member-image
                    .col-xs-12
                        img(src="/img/about/shuyang.jpg", height='100px', width='100px')
                .row.member-description
                    .col-xs-12
                        p Shuyang Tong
                            br
                            |Senior
                            br
                            |Actuarial Science
            .col-sm-2.col-xs-6.member-card
                .row.member-image
                    .col-xs-12
                        img(src="", height='100px', width='100px')
                .row.member-description
                    .col-xs-12
                        p Travis Struckhoff
                            br
                            |Junior
                            br
                            |Computer Science
            .col-sm-2.col-xs-6.member-card
                .row.member-image
                    .col-xs-12
                        img(src="/img/about/vinit.jpg", height='100px', width='100px')
                .row.member-description
                    .col-xs-12
                        p Vinit Shah
                            br
                            |Graduate
                            br
                            |Computer Eng.
