extends layout
block content
	.container.fill
		.row
			.col-sm-6.text-center
				h1="Chloramines"
			.col-sm-6.words
				ul
					li="The easiest and least expensive way is to use a chemical dechlorinating product."
					li="Install and filter the tap water through an RO (Reverse Osmosis) unit."
					li="A simple faucet or carbon type filter can be used."
		.row
			.col-sm-6.text-center
				h1="Coliforms"
			.col-sm-6.words
				ul
					li="Some simple maintenance of the water supply may eliminate the source of bacterial contamination."
					li="Please contact your local "
						span
							a(target="_blank",href="http://www.ilga.gov/house/") representatives.
		.row
			.col-sm-6.text-center
				h1="Trihalomethanes"
			.col-sm-6.words
				ul
					li="Activated carbon filters are the most effective treatment."
					li="Install and filter the tap water through an RO (Reverse Osmosis) unit."
		.row
			.col-sm-6.text-center
				h1="Nitrates"
			.col-sm-6.words
				ul
					li="Ion exchange."
					li="Install and filter the tap water through an RO (Reverse Osmosis) unit."
					li="Electrodialysis"
		.row
			.col-sm-6.text-center
				h1="Chlorine"
			.col-sm-6.words
				ul
					li="The easiest way is to let it sit for 24 hours and the chlorine will dissipate into the environment."
					li="Boiling the water for 15 minutes."
					li="Same actions as for Chloramine can be used for elimination of Chlorine also."
		.row
			.col-sm-6.text-center
				h1="Radium -226 & -228"
			.col-sm-6.words
				ul
					li="Ion exchange."
					li="Install and filter the tap water through an RO (Reverse Osmosis) unit."
					li="Lime softening."
		.row
			.col-sm-6.text-center
				h1="Endrin"
			.col-sm-6.words
				ul
					li="A simple faucet or carbon type filter can be used."
		.row
			.col-sm-6.text-center
				h1="Chlorite"
			.col-sm-6.words
				ul
					li="Please contact your local "
						span
							a(target="_blank",href="http://www.ilga.gov/house/") representatives.
		.row
			.col-sm-6.text-center
				h1="Arsenic"
			.col-sm-6.words
				ul
					li="Please contact your local "
						span
							a(target="_blank",href="http://www.ilga.gov/house/") representatives.
		.row
			.col-sm-6.text-center
				h1="1,2,4-Trichlorobenzene"
			.col-sm-6.words
				ul
					li="Granular activated carbon in combination with packed tower aeration."
		.row
			.col-sm-6.text-center
				h1="Total Haloacetic Acids"
			.col-sm-6.words
				ul
					li="Please contact your local "
						span
							a(target="_blank",href="http://www.ilga.gov/house/") representatives.
		.row
			.col-sm-6.text-center
				h1="Nitrite"
			.col-sm-6.words
				ul
					li="Ion exchange."
					li="Install and filter the tap water through an RO (Reverse Osmosis) unit."
		.row
			.col-sm-6.text-center
				h1="1,2-Dichloroethane"
			.col-sm-6.words
				ul
					li="Granular activated carbon and packed tower aeration."
		.row
			.col-sm-6.text-center
				h1="Toxaphene"
			.col-sm-6.words
				ul
					li="A simple faucet or carbon type filter can be used."
		.row
			.col-sm-6.text-center
				h1="Methoxychlor"
			.col-sm-6.words
				ul
					li="A simple faucet or carbon type filter can be used."
		.row
			.col-sm-6.text-center
				h1="Dalapon"
			.col-sm-6.words
				ul
					li="A simple faucet or carbon type filter can be used."
		.row
			.col-sm-6.text-center
				h1="Carbon"
			.col-sm-6.words
				ul
					li="Granular activated carbon in combination with packed tower aeration."

