extends layout
block content
    .container.fill
        .row
            .col-xs-6.words
                .row.title
                    .col-xs-12
                        p="IN ILLINOIS"
                .row
                    .col-xs-12
                        span.emphasis-large="102"
                        span=" Counties"
                .row.spacer
                .row
                    .col-xs-12
                            span.emphasis-large="ALL"
                            span=" Counties have received AT LEAST one drinking water violation between "
                            span.emphasis-small="2002 - 2013"
                .row.spacer
                .row
                    .col-xs-12
                            span.emphasis-large="17 "
                            span="Contaminants"
            .col-xs-6.text-center
                img.right-image(src="/img/home/illinois_logo.gif")
        .row
            .col-xs-12
                .row.title2
                    .col-xs-12
                        span="Major Drink Water Issues"
                .row.spacer
                .row
                    .col-xs-4.text-center
                        p.image-header="Chemical Spills"
                        img.right-image(src="/img/home/chemicalspill.png")
                    .col-xs-4
                        .row.image-spacer
                        .row
                            .col-xs-12.text-center
                                p.image-header="Lead"
                                img.right-image(src="/img/home/lead.png")
                    .col-xs-4
                        .row.image-spacer2
                        .row
                            .col-xs-12.text-center
                                p.image-header="Hydraulic Fracturing"
                                img.right-image(src="/img/home/fracking.png")
