extends layout
block content
    .container.fill
        .row
            .col-xs-6.words
                .row.title
                    .col-xs-12
                        p="IN ILLINOIS"
                .row
                    .col-xs-12
                        span.emphasis-large="102"
                        span=" Counties"
                .row.spacer
                .row
                    .col-xs-12
                            span.emphasis-large="ALL"
                            span=" Counties have received AT LEAST one drinking water violation between "
                            span.emphasis-small="2002 - 2013"
                .row.spacer
                .row
                    .col-xs-12
                            span.emphasis-large="17 "
                            span="Contaminants"
            .col-xs-6.text-center
                img.right-image(src="/img/home/illinois_logo.gif")
        .row
